/**
 * Web Application Development - SE 2811
 * Quiz 3
 * 1/9/2020
 * Names:
 *      Sara Alsudeer
 *      Lucas Cabello
 *      David Yang
 */

div.row {
    display: flex;
}

div.cell {
    height: 10px;
    width: 10px;

}

label {
    margin:10px;
}

button.go {
    margin-left: 50%;
    margin-right: 50%;
    width: 60px;
    display: block;
    font-family: "bold Garamond", serif;
}

button{
    font-family: "Times New Roman", serif;
    font-size: 20px;
    margin: 10px;
}

td#colorError{
    margin-left: 50%;
    margin-right: 50%;
}

div.indicator {
    height:20px;
    width:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.p1{
    text-align: center;
    font-family: "bold Garamond", serif;
}
table.mytable{
    margin-left: auto;
    margin-right: auto;
}